.cookie-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cookie-row-content {
    flex-grow: 1;
}

.accordian-header {
    padding: var(--m1);
    background-color: var(--beige);
    border: 1px solid var(--border-gray);
    display: flex;
    flex-direction: row;
}

.accordian-header:hover {
    cursor: pointer;
    border: 1px solid var(--border-gray-light);
}

.caret {
    object-fit: cover;
    height: 10px;
    margin: var(--m1);
}

.main-cookie-info {
    margin-bottom: var(--m1);
    line-height: 16pt;
}

.main-cookie-info .cookie-name {
    font-size: 11pt;
}

.main-cookie-info .cookie-domain {
    color: var(--font-gray);
    font-size: var(--font-size-small);
    margin-left: var(--m1);
}

.secondary-cookie-info {
    font-size: 10pt;
    font-family: var(--fonts-code);
}

.cookie-info {
    border: 1px solid var(--border-gray);
    display: flex;
    flex-direction: row;
    padding: var(--m2);
    background-color: var(--offwhite);
}

.cookie-actions {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: end;
    align-items: flex-start;
    margin-right: var(--m2);
}

.cookie-actions .action-icon {
    width: 32px;
    object-fit: cover;
    margin-left: -5px;
    margin-bottom: var(--m2);
}

.cookie-actions .action-icon:hover {
    cursor: pointer;
}

.cookie-edit-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.cookie-edit-form label {
    font-size: var(--font-size-small);
    line-height: 12pt;
    margin-top: var(--m2);
    margin-bottom: 3px;
}

.cookie-edit-form .cookie-bools {
    margin: var(--m2) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form-actions button {
    min-width: 100px;
    padding: 0.25em;
    margin-left: var(--m2);
}

.cookie-row-selector {
    margin-right: var(--m2);
}
