:root {
    --beige: rgb(228, 213, 193);
    --beige-light: rgb(240, 231, 219);
    --beige-dark: rgb(204, 184, 157);
    --offwhite: rgb(243, 239, 235);
    --font-black: rgb(26, 32, 44);
    --font-gray: rgba(0, 0, 0, 0.48);
    --border-gray: rgba(0, 0, 0, 0.215);
    --border-gray-light: rgba(0, 0, 0, 0.11);
    --fonts-body: Verdana, Geneva, sans-serif;
    --fonts-code: Courier New, Courier, Lucida Sans Typewriter,
        Lucida Typewriter, monospace;
    --font-size-small: 0.8em;
    --m1: 5px;
    --m2: 10px;
    --m3: 16px;
    --m4: 24px;
    --m5: 32px;
    --outer-padding: 1em;
}

body,
html {
    background-color: var(--beige-light);
    color: var(--font-black);
    font-family: var(--fonts-body);
}

.main-layout {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    width: 550px;
    min-height: 300px;
}

.view-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5em;
    background-color: var(--beige-dark);
}

.view-tab {
    padding: 0.5em;
    margin: 0 var(--m1);
    flex-grow: 1;
    text-align: center;
}

.view-tab:hover {
    background-color: var(--beige);
    cursor: pointer;
}

.active-tab,
.active-tab:hover {
    text-decoration: underline;
    font-weight: bold;
    background-color: var(--beige-light);
}

.view-tab:first-child,
.view-tab:last-child {
    margin: 0;
}

.cookie-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--outer-padding);
    margin-bottom: 0.75em;
}

.search input {
    min-width: 20em;
}

.cookies-list {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    overflow-y: auto;
}

.bulk-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--m1);
    padding: var(--m1);
}

.bulk-actions {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    font-size: var(--font-size-small);
}

.bulk-row .action-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: var(--m3);
}

.bulk-row .action-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bulk-row .action-icon {
    width: 24px;
    object-fit: cover;
}

.horizontal-line-break {
    border: 0.5px solid var(--border-gray);
    margin: 0 0 var(--m1) 0;
}
