body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 800px;
}

img {
    display: inline;
}

table {
    overflow-y: auto;
    overflow-x: visible;
    height: 300px;
    width: 100%;
    display: block;
}

.popup {
    background-image: url("../assets/icons/cookie-background.jpg");
    padding: 1vw;
}

.cookie-button {
    padding-bottom: 2em;
}

.title {
    font-size: 6vw;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    border: solid 0.2vw black;
    border-radius: 10vw;
    background-color: bisque;
}

.description {
    font-size: 3vw;
    text-align: center;
    padding-bottom: 1vw 0;
}

.hidden {
    display: none;
}

table.tb {
    border-collapse: collapse;
    width: 500px;
    width: 100%;
}

.tb th,
.tb td {
    border: solid 0.2vw rgb(0, 0, 0);
}

.tb th {
    background-color: rgb(213, 140, 67);
}

tr {
    width: auto;
    background-color: bisque;
}

#first-row {
    position: sticky;
    top: 0;
    width: 100%;
    height: absolute;
}

#filler-row {
    height: 0.8em;
}

#loadingIndicator {
    margin: 2em;
    color: rgba(1, 1, 1, 0.75);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0, 0.2);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}
