.cookie-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cookie-row-content {
    flex-grow: 1;
}

.accordian-header {
    padding: var(--m1);
    background-color: var(--beige);
    border: 1px solid var(--border-gray);
    display: grid;
    grid-template-columns: 20px 1fr 20fr;
}

.cookie-row:hover .accordian-header {
    grid-template-columns: 20px 1fr 15fr 5fr;
}

.accordian-header > * {
    flex-wrap: wrap;
    overflow: hidden;
    min-width: 0;
}

.accordian-header:hover {
    cursor: pointer;
    border: 1px solid var(--border-gray-light);
}

.caret {
    object-fit: cover;
    height: 10px;
    margin: var(--m1);
}

.main-cookie-info {
    margin-bottom: var(--m1);
    line-height: 16pt;
}

.main-cookie-info .cookie-name {
    font-size: 11pt;
}

.main-cookie-info .cookie-domain {
    color: var(--font-gray);
    font-size: var(--font-size-small);
    margin-left: var(--m1);
}

.secondary-cookie-info {
    font-size: 10pt;
    font-family: var(--fonts-code);
}

.cookie-info {
    border: 1px solid var(--border-gray);
    display: flex;
    flex-direction: row;
    padding: var(--m2);
    background-color: var(--offwhite);
}

.cookie-actions {
    display: none;
    flex-direction: row;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}

.cookie-row:hover .cookie-actions {
    display: flex;
}

.cookie-actions .action-button {
    margin-left: var(--m1);
    margin-right: 0;
}

.cookie-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: var(--offwhite);
}

.cookie-form label {
    font-size: var(--font-size-small);
    line-height: 12pt;
    margin-top: var(--m2);
    margin-bottom: 3px;
}

.cookie-form .cookie-bools {
    margin: var(--m2) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form-actions button {
    min-width: 100px;
    padding: 0.15em;
    margin-left: var(--m2);
}
