.pantry-tab {
    display: flex;
    flex-direction: column;
    background-color: var(--offwhite);
}

.pantry-form {
    margin: var(--m1);
    padding: var(--m2);
    display: flex;
    flex-direction: column;
    width: 75%;
    min-width: 100px;
}

.pantry-form label {
    font-size: var(--font-size-small);
    line-height: 12pt;
    margin-top: var(--m1);
    margin-bottom: 3px;
}

.pantry-form .error-label {
    color: var(--font-red);
}

.pantry-form .success-label {
    color: var(--font-green);
}

.pantry-form .labeled-input {
    width: 100%;
    margin-top: var(--m1);
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.labeled-input label {
    margin-top: 0;
}

.form-heading {
    font-weight: bold;
    margin-bottom: var(--m2);
}

.pantry-form .form-actions {
    justify-content: start;
    margin-top: var(--m2);
}

.pantry-form .form-actions button {
    margin-left: 0;
}
