:root {
    --beige: rgb(228, 213, 193);
    --beige-selected: rgba(255, 255, 255, 0.782);
    --beige-light: rgb(240, 231, 219);
    --beige-dark: rgb(204, 184, 157);
    --blue: #007bff;
    --offwhite: rgb(243, 239, 235);
    --font-black: rgb(26, 32, 44);
    --font-gray: rgba(0, 0, 0, 0.48);
    --font-red: rgb(220, 53, 69);
    --font-green: rgb(40, 167, 69);
    --green: #2da44e;
    --font-brown-transparent: rgba(77, 33, 14, 0.485);
    --border-gray: rgba(0, 0, 0, 0.215);
    --border-gray-light: rgba(0, 0, 0, 0.11);
    --fonts-body: Verdana, Geneva, sans-serif;
    --fonts-code: Courier New, Courier, Lucida Sans Typewriter,
        Lucida Typewriter, monospace;
    --font-size-small: 0.8em;
    --font-size-large: 1.5em;
    --m1: 5px;
    --m2: 10px;
    --m3: 16px;
    --m4: 24px;
    --m5: 32px;
    --outer-padding: 1em;
}

body,
html {
    background-color: var(--beige-light);
    color: var(--font-black);
    font-family: var(--fonts-body);
}

.main-layout {
    min-width: 500px;
    width: 550px;
}

.view-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5em;
    background-color: var(--beige-dark);
}

.view-tab {
    padding: 0.5em;
    margin: 0 var(--m1);
    flex-grow: 1;
    text-align: center;
}

.view-tab:hover {
    background-color: var(--beige);
    cursor: pointer;
}

.active-tab,
.active-tab:hover {
    text-decoration: underline;
    font-weight: bold;
    background-color: var(--beige-light);
}

.view-tab:first-child,
.view-tab:last-child {
    margin: 0;
}

.cookie-filters {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: var(--offwhite);
    padding: 0 var(--outer-padding);
    margin: var(--m2) 0;
}

.cookie-filters .labeled-input {
    display: grid;
    grid-template-columns: 100px 1fr;
    font-size: var(--font-size-small);
    line-height: 12pt;
    margin-top: var(--m1);
    margin-bottom: 3px;
}

.cookies-list {
    margin-top: 0.5em;
}

.cookie-row-items {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 380px;
}

.bulk-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--m1);
    padding: 0 var(--m1);
    min-height: 42px;
}

.bulk-actions {
    display: flex;
    flex-grow: 1;
    justify-content: start;
    font-size: var(--font-size-small);
    margin-left: var(--m2);
}

.action-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-right: var(--m2);
    font-size: var(--font-size-small);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.action-button:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.11);
}

.action-icon {
    width: 22px;
    object-fit: cover;
}

.horizontal-line-break {
    border: 0.5px solid var(--border-gray);
    margin: 0 0 var(--m1) 0;
}

.loading-indicator,
.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-large);
    color: var(--font-gray);
    min-height: 175px;
}

.links-container {
    display: flex;
    justify-content: end;
    padding: var(--m1);
}

.help-link {
    font-size: var(--font-size-small);
    color: var(--font-gray);
}

.new-button-container {
    display: flex;
    flex-direction: row;
}

.new-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--m1);
    min-width: 100px;
    border-radius: 3px;
    border: rgba(27, 31, 36, 0.15);
    background-color: var(--green);
    cursor: pointer;
    color: white;
}

.new-button:hover {
    background-color: #2c974b;
}

.new-button img {
    object-fit: cover;
    width: 15px;
    margin-right: 3px;
}

.cookie-row-selector {
    width: 15px;
    height: 15px;
}
